dist: trusty
language: node_js
node_js:
  - 8
  - 10
  - node
cache:
  yarn: true

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s
  - export PATH="$HOME/.yarn/bin:$PATH"

install:
  - yarn global add codecov

cache: yarn

script:
  - yarn lint
  - yarn format
  - yarn validate
  - yarn test:coverage
  - codecov
  - yarn build
